<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{120,0},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{160,0},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GiantSpirit.png</string>
            <key>size</key>
            <string>{200,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a309b25481e7763c8663d4b3b782110:1da28d9d8bbcb96001743271a4e32bad:ee05d4e579a75e7e2584de4233b7a485$</string>
            <key>textureFileName</key>
            <string>GiantSpirit.png</string>
        </dict>
    </dict>
</plist>
